body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

nav a:hover {
  background-color: #666; /* cinza escuro no hover */
  color: #fff;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #0b0c0e;
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input, form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
